* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light-blue: #ffffff;
    --color-red: rgb(255, 255, 255);
    --color-white: rgb(255, 255, 255);
    --color-dark-blue: #2d2d2e;
    --color-very-dark-blue: #363636;
    --color-black: #000000;
}

html {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    background: url('https://images.unsplash.com/photo-1629194898512-b6b8697063ac?q=80&w=2031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed; /* Cambia la URL por la de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    background: url('https://images.unsplash.com/photo-1629194898512-b6b8697063ac?q=80&w=2031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed; /* Cambia la URL por la de tu imagen de madera */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption {
    font-size: 1.3rem;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3em;
    letter-spacing: 0.4em;
}

.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 750px;
    width: 90%;
}

.time-content {
    height: 70px;
    box-shadow: 0 7px 2px -2px rgb(25, 26, 36);
    background-color: var(--color-very-dark-blue);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--color-dark-blue);
    position: relative;
}

.time::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(34, 34, 34, 0.75);
}

.time > span {
    color: var(--color-red);
    font-size: 2.5em;
    z-index: 2;
    
}

.rings {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 3;
}

.rings::before,
.rings::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-very-dark-blue);
    top: -2px;
}

.rings::before {
    left: -3.5px;
}

.rings::after {
    right: -3.5px;
}

.metric {
    text-transform: uppercase;
    text-align: center;
    color: var(--color-light-blue);
    font-size: 0.6rem;
    letter-spacing: 3px;
    
}

footer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    background: url('https://images.unsplash.com/photo-1629194898512-b6b8697063ac?q=80&w=2031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed; /* Cambia la URL por la de tu imagen de madera */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.socials .icon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.socials .icon:hover path {
    fill: var(--color-red);
    transform: scale(1.1);
}

.attribution {
    font-size: 11px;
    padding: 1em;
    text-align: center;
    color: var(--color-light-blue);
    background: url('https://images.unsplash.com/photo-1629194898512-b6b8697063ac?q=80&w=2031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed; /* Cambia la URL por la de tu imagen de madera */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
}

.attribution a {
    color: var(--color-red);
    font-weight: 700;
    text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .caption {
        font-size: 1.5rem;
        margin-bottom: 4em;
    }

    .time-content {
        height: 120px;
    }

    .time > span {
        font-size: 5em;
    }

    .metric {
        font-size: 1rem;
    }

    .rings::before,
    .rings::after {
        width: 10px;
        height: 10px;
        top: -4px;
    }

    .rings::before {
        left: -5px;
    }

    .rings::after {
        right: -5px;
    }
}

@media (max-width: 640px) {
    .caption {
        font-size: 1.2rem;
    }

    .time-content {
        height: 90px;
    }

    .time > span {
        font-size: 3.5em;
    }

    .socials {
        gap: 1rem;
    }
}


/* Fondo sólido */
.wrapper {
    padding: 15px;
    display: grid;
    place-items: center;
    background-color: #1c1c1c; /* Fondo oscuro */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .typing-demo {
    font-family: monospace;
    font-size: 12px; /* Tamaño de la fuente */
    width: max-content; /* Ajustar el ancho según el contenido */
    white-space: nowrap; /* Evitar que el texto se envuelva */
    overflow: hidden; /* Ocultar texto que no esté animado aún */
    border-right: 3px solid; /* Simula el cursor */
    animation: typing 5s steps(60) 1s 1 normal both, blink .5s step-end infinite;
    color: rgb(163, 163, 163);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  

  
